<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Translational Psychiatry working group at the University Hospital Jena</h2>
                <hr class="light">
            </div>
            <div class="col-lg-8 col-lg-offset-2">
                <p class="text-faded">Affective disorders such as depression are among the most common psychiatric disorders and represent one of the leading causes of disability worldwide. In treating depression, we are currently unable to estimate how successful any one course of action will be at alleviating symptoms for each individual patient.</p>

                <p class="text-faded">Against this backdrop, the Translational Psychiatry Group Jena aims </p>
                <ol>
                    <li><p class="text-faded">to generate insights on the risk factors and neurobiological mechanisms that determine individual disease trajectories in affective disorders and</p></li>
                    <li><p class="text-faded">to transfer these insights into optimized diagnostic, treatment and prevention in clinical routine.</p></li>
                </ol>

                <p class="text-faded">To this end, our research agenda focuses on the following key areas:</p>
                
                <ol>
                    <li><p class="text-faded">maladaptive neural circuits that mediate the relationship between risk factors and symptom trajectory in depression</p></li>
                    <li><p class="text-faded">relationship between immunometabolic and affective disorders</p></li>
                    <li><p class="text-faded">digital phenotyping for ecological valid longitudinal monitoring of depressive symptoms</p></li>
                    <li><p class="text-faded">individual risk profiling and predictive modelling in clinical routine</p></li>
                </ol>
                            
                <p class="text-faded">Our multidisciplinary team integrates both clinical expertise and techniques as well as in-depth knowledge in the domain of data science and digitalized medicine.</p>
            </div>
        </div>
    </div>
</section>
