<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading wow fadeIn" data-wow-delay="0s">Welcome to the Opel Lab</h2>
                <hr class="light wow fadeIn" data-wow-delay=".05s">
            </div>
            <div class="col-lg-8 col-lg-offset-2">
                <p class="text-faded wow fadeIn" data-wow-delay="0.1s">Where our mission is to unravel the interactions between the body and brain in affective disorders. We integrate clinical & neuroscientific expertise with state-of-the-art data science to </p>
                <ol>
                    <li class="wow fadeIn" data-wow-delay="0.2s"><p class="text-faded">generate insights on the risk factors and neurobiological mechanisms that determine individual disease trajectories in affective disorders and</p></li>
                    <li class="wow fadeIn" data-wow-delay="0.3s"><p class="text-faded">transfer these insights into optimized diagnostic, treatment and prevention in clinical routine</p></li>
                </ol>
            </div>
        </div>
    </div>
</section>
