<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Translational Psychiatry at the UKJ</h1>
            <hr class="btn-white">
            <p>Affective disorders such as depression are among the most common psychiatric disorders and represent one of the leading causes of disability worldwide. In treating depression, we are currently unable to estimate how successful any one course of action will be at alleviating symptoms for each individual patient.
            </p>
            <a href="#about" class="btn btn-white btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
