<section id="projects">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading wow fadeIn" data-wow-delay="0s">Our research focuses on the following key areas</h2>
                <hr class="primary wow fadeIn" data-wow-delay=".05s">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-puzzle-piece wow bounceIn text-primary"></i>
                    <h3 class="wow fadeIn" data-wow-delay="0s">Brain</h3>
                    <p class="text-muted wow fadeIn" data-wow-delay=".05s">We investigate maladaptive neural circuits that mediate the relationship between risk factors and symptom trajectory in depression.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-arrows wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3 class="wow fadeIn" data-wow-delay="0.1s">Body</h3>
                    <p class="text-muted wow fadeIn" data-wow-delay=".15s">We examine the relationship between immunometabolic and affective disorders.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-tablet wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3 class="wow fadeIn" data-wow-delay="0.2s">Digital phenotyping</h3>
                    <p class="text-muted wow fadeIn" data-wow-delay=".25s">We develop solutions for ecological valid longitudinal monitoring of depressive symptoms.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-signal wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3 class="wow fadeIn" data-wow-delay="0.3s">Personalization</h3>
                    <p class="text-muted wow fadeIn" data-wow-delay=".35s">We aim to achieve individual risk profiling and predictive modelling in clinical routine.</p>
                </div>
            </div>
        </div>
    </div>
</section>
